#aboutTab {
    background-color: #b82601;
}

body {
    background-color: #813772;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.bodyaboutTab {
    background-color: #b82601;
}

.bodydatabaseTab {
    background-color: #813772;
}

.bodyinfoTab {
    background-color: #062f4f;
}


.column {
    float: left;
    width: 50%;
}

#databaseDescription {
    font-size: 18px;
    padding-left: 100px;
}

#databaseTab {
    background-color: #813772;
}

#gameDescription {
    margin-top: 40px;
}

#gameDisplay {
    background-color: rgba(255, 0, 0, 0.212);
    border: 5px solid #990000;
    height: 300px;
    text-align: center;
    width: 300px;
}

#gameTitle {
    font-size: 30px;
    margin-left: 5px;
    padding-top: 40px;
    text-align: center;
    width: 300px;
}

.halfColumn {
    float: left;
    width: 25%;
}

.header { 
    background-color: #000000;  
    padding: 30px;
    text-align: center;
}

h2 {
    clear: left;
    font-size: 40px;
    padding-top: 40px;
    padding-left: 100px;
}

#infoTab {
    background-color: #062f4f;
}

table {
    background-clip: content-box;
    margin-left: 100px;
    margin-top: 8%;
}

td {
    padding: 18px;
}


.navigationBar {
    overflow: hidden;
}

.navigationBar a {
    float: left;
    font-size: 30px;
    height: 50px;
    text-decoration: none;
    text-align: center;
    width: 33.33%;
}
